h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol[role='list'],
ul[role='list'] {
	list-style: none;
	padding-inline: 0;
}

ol, ul {
	list-style-type: none;
}

summary {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

.container {
	width: 1220px;
	margin: auto;
}