@use '/src/sass/libs/modern-normalize.min.css';

@use '/src/sass/ui/buttons.scss';
@use '/src/sass/ui/tittles.scss';

@use '/src/sass/base/basic.scss';

@use '/src/sass/blocks/header.scss';
@use '/src/sass/blocks/promo.scss';
@use '/src/sass/blocks/pharmacy.scss';
@use '/src/sass/blocks/works.scss';
@use '/src/sass/blocks/support.scss';
@use '/src/sass/blocks/pets.scss';
@use '/src/sass/blocks/wild.scss';
@use '/src/sass/blocks/footer.scss';
