@use '/src/sass/base/variables.scss' as *;

.header {
  margin-top: 24px;
  height: 70px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  &__nav {
    width: 508px;
    display: flex;
    gap: 33px;
    margin-top: 13px;
  }
  &__logo {
    margin-top: 6px;
  }
  &__buttons {
    margin-top: 13px;
    width: 508px;
    padding-right: 40px;
    display: flex;
    justify-content: end;
    gap: 33px;
  }
}