@use '/src/sass/base/variables.scss' as *;

.pharmacy {
  padding: 58px 0 45px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
  }
  &__block {
		width: 466px;
	}
  &__img {
    margin-left: 100px;
  }
}

.yellow__decor {
  display: block;
  margin: 40px 0 30px 0;
  width: 466px;
  height: 1px;
  background-color: $orange;
}