@use '/src/sass/base/variables.scss' as *;

.promo {
	background-color: $beige;
	padding-top: 102px;
	padding-bottom: 244px;
	position: relative;
	&__decor {
		&-1 {
			position: absolute;
			top: 0;
			left: 0;
		}
		&-2 {
			position: absolute;
			top: 0;
			right: 0;
		}
		&-3 {
			width: 350px;
			position: absolute;
			bottom: 0;
			right: 550px;
		}
	}
	&__wrapper {
		width: 670px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__info {
		margin-top: 32px;
	}
}
