@use '/src/sass/base/variables.scss' as *;

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-family: Roboto, sans-serif;
	font-weight: 700;
	line-height: 130%;
	text-decoration: none;
	border: none;
	cursor: pointer;

	transition: 0.2s ease;

	&--primary {
		background: $purple;
		color: $white;
	}

	&--ghost {
		background: transparent;
		color: $purple;
		font-weight: 400;
	}

	&--sm {
		padding: 10px 24px;
		border-radius: 18px;
		font-size: 14px;
	}

	&--md {
		padding: 15px 40px;
		margin-top: 15px;
		border-radius: 24px;
		font-size: 15px;
	}

	&--fixed {
		width: 160px;
		height: 48px;
	}
}
