@use '/src/sass/base/variables.scss' as *;

@use '../base/variables' as *;

.title {
	font-weight: 400;
	color: $black;

	&--xl {
		font-size: 55px;
		line-height: 120%;
	}

	&--lg {
		font-size: 44px;
		line-height: 120%;
	}

	&--md {
		font-size: 24px;
		line-height: 132%;
	}

	&--center {
		text-align: center;
	}
}

.text {
	font-weight: 400;
	color: $black;
	text-decoration: none;

	&--lg {
		font-size: 20px;
		line-height: 140%;
	}

	&--md {
		font-size: 16px;
		line-height: 142%;
	}

	&--sm {
		font-size: 14px;
		line-height: 130%;
	}

	&--muted {
		opacity: 0.9;
	}

	&--purple {
		color: $purple;
	}

	&--white {
		color: $white;
	}

	&--orange {
		color: $orange;
		text-transform: uppercase;
		letter-spacing: 0.06em;
	}
}
