@use '/src/sass/base/variables.scss' as *;

.header__link {
	a {
		text-decoration: none;
		color: $black;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
	}
}

.promo {
	&__info {
		color: $black;
		text-align: center;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		span {
			color: $purple;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 28px;
		}
	}
	&__title {
		color: $black;
		text-align: center;
		font-size: 55px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
	}
}

.pharmacy {
	&__title {
		color: $black;
		font-size: 44px;
		font-style: normal;
		font-weight: 400;
		line-height: 120.455%;
		width: 527px;
	}
	&__block_title {
		color: $purple;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 132%;
	}
	&__block_info {
		margin-top: 20px;
		color: $black;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 142%;
	}
}

.works {
	&__title {
		color: $black;
		text-align: center;
		font-size: 44px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
	}
	&__block {
		h3 {
			color: $purple;
			text-align: center;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 31.68px; /* 132% */
		}
		p {
			color: $black;
			text-align: center;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 22.72px; /* 142% */
		}
	}
}

.support {
	&__subtitle {
		color: $orange;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
		letter-spacing: 0.96px;
		text-transform: uppercase;
	}
	&__title {
		color: $black;
		font-size: 44px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
	}
	&__info {
		color: $black;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 142%;
	}
}

.pets {
	&__title {
		color: $black;
		text-align: center;
		font-size: 43px;
		font-style: normal;
		font-weight: 700;
		line-height: 123%;
	}
	&__subtitle {
		color: $black;
		text-align: center;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 165%;
		span {
			color: $purple;	
		}
	}
}
