@use '/src/sass/base/variables.scss' as *;

.header__link {
	a {
		text-decoration: none;
		color: $black;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
	}
}

.promo {
	&__info {
		color: $black;
		text-align: center;
		font-family: Roboto;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		span {
			color: $purple;
			font-family: Roboto;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 28px;
		}
	}
	&__title {
		color: $black;
		text-align: center;
		font-family: Roboto;
		font-size: 55px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
	}
}

.pharmacy {
	&__title {
		color: $black;
		font-family: Roboto;
		font-size: 44px;
		font-style: normal;
		font-weight: 400;
		line-height: 120.455%;
		width: 527px;
	}
	&__block_title {
		color: $purple;
		font-family: Roboto;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 132%;
	}
	&__block_info {
		margin-top: 20px;
		color: $black;
		font-family: Roboto;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 142%;
	}
}
